include COPYING.txt
include LICENSE.md
include MANIFEST.in
include Makefile
include *.ui
include *.qrc
include utils/*.ui
include utils/*.sh
include Icons/*
include debian/*
include linux/*
include windows/*
